# Build directories
build/
*/build/
**/build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Compiled binaries
*.exe
*.out
*.a
*.so
*.dylib

# VS Code files
.vscode/settings.json

# Dependencies
_deps/